<%= form_for [@commentable, @comment] do |f| %>
    <% if @comment.errors.any? %>
        <div class="error_messages">
          <h2>Please correct the following errors.</h2>
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_area :text, rows: 8 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>