<%- model_class = Comment -%>
<div class="page-header">
  <h1>Komentarze</h1>

  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Komentarz</th>
        <th>User email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @comments.each do |comment| %>
          <tr>
            <td><%= render partial: "comments/comment", locals: {comment: comment} %> </td>
            <td><%= current_user   %></td>
            <% if current_admin %>
                <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_comment_path(comment), :class => 'btn-success' %></td>
                <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                comment_path(comment), :class => 'btn-danger', :method => :delete %></td>
            <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>


  </div>
</div>
