
<head>
  <title>Admin panel</title>
  <link rel="stylesheet" type="text/css" href="all.css">
</head>

<body class="body">

    <div class="admin-panel">

        <h1 class="admin-header">Admin panel</h1>

        <div class="admin-dashboard-block">
          <%= link_to "Programs", programs_path, class: "btn btn-primary btn-lg btn-block" %>
          <%= link_to "Episodes", episodes_path, class: "btn btn-primary btn-lg btn-block" %>
          <%= link_to "Topics", topics_path, class: "btn btn-primary btn-lg btn-block" %>
          <%= link_to "Articles", articles_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>

      <div class="admin-dashboard-block">
        <%= link_to "Add programs", new_program_path, class: "btn btn-success btn-lg btn-block" %>
        <%= link_to "Add episode", new_episode_path, class: "btn btn-success btn-lg btn-block" %>
        <%= link_to "Add topic", new_topic_path, class: "btn btn-success btn-lg btn-block" %>
        <%= link_to "Add article", new_article_path, class: "btn btn-success btn-lg btn-block" %>
      </div>



        <div class="admin-dashboard-block-comments" >
          <%= link_to "Comments", comments_path, class: "btn btn-primary btn-lg btn-block" %>
          <table class="table table-striped" >
            <tr>
              <th>Comment</th>
              <th>User</th>
            </tr>
            <tr>
              <td>Comment1</td>
              <td>User1</td>
            </tr>
            <tr>
              <td>Comment1</td>
              <td>User1</td>
            </tr>
          </table>

        </div>
    </div>
</body>
