<%- model_class = Program -%>
<div class="page-header">
  <h1>Programy</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:description) %></th>
    <th><%= model_class.human_attribute_name(:episodes) %></th>
    <th><%= model_class.human_attribute_name(:image) %></th>
  </tr>
  </thead>
  <tbody>
  <% @programs.each do |program| %>
      <tr>
        <td><%= program.name %></td>
        <td><%= program.description %></td>
        <td><%= link_to "Episodes",program_episodes_path(program) %></td>
        <td><%= image_tag program.image.url (:medium) %></td>
        <% if current_admin %>
        <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_program_path(program), :class => 'btn-success' %></td>
        <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        program_path(program), :class => 'btn-danger', :method => :delete %></td>
        <% end %>
      </tr>

  <% end %>
  </tbody>
</table>


<% if current_admin %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_program_path,
            :class => 'btn btn-primary' %>

<% end %>

