<%= form_for @episode, :html => { :class => 'form-horizontal',:multipart => true } do |f| %>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area' %>
      </div>
    </br>
    <div class="control-group">
      <%= f.label :url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :url, :class => 'text_field' %>
      </div>
    </div>
    </div>

    <div class="control-group">
      <%= f.label :program, :class => 'control-label' %>
      <div class="controls">

         <%= f.collection_select(:program_id,Program.all,:id,:name) %>
       </div>
    </div>




    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  episodes_path, :class => 'btn' %>
    </div>
<% end %>