<%- model_class = Episode -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% if @episodes.present? %>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:title) %></th>
    <th><%= model_class.human_attribute_name(:description) %></th>
    <th><%= model_class.human_attribute_name(:url) %></th>
  </tr>
  </thead>
  <tbody>
  <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.title %></td>
        <td><%= episode.description %></td>
        <td>
          <object width="420" height="315"><param name="movie" value="//www.youtube.com/v/<%= episode.url[-11..-1] %>?hl=en_US&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/<%= episode.url[-11..-1] %>?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
        </td>
        <% if current_admin %>
            <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_episode_path(episode), :class => 'btn-success' %></td>
            <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            episode_path(episode), :class => 'btn-danger', :method => :delete %></td>
        <% end %>
      </tr>

  <% end %>
  </tbody>
</table>


<% else %>
<h1>No episodes for current program</h1>


<% end %>


