<%- model_class = Episode -%>
<div class="page-header">
  <h1><%= @episode.title %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @episode.title %></dd>
  <dd>
       <object width="420" height="315"><param name="movie" value="//www.youtube.com/v/<%= @episode.url[-11..-1] %>?hl=en_US&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/<%= @episode.url[-11..-1] %>?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @episode.description %></dd>
</dl>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              episodes_path, :class => 'btn' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_episode_path(@episode), :class => 'btn' %>
</div>


<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Komentarz</th>
            <th>User email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= render partial: "comments/comment", locals: {comment: comment} %> </td>
            <td><%= comment.user.email   %></td>
            <% if current_admin %>
             <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                             edit_comment_path(comment), :class => 'btn-success' %></td>
             <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                             comment_path(comment), :class => 'btn-danger', :method => :delete %></td>
            <% end %>
            </td>
         </tr>
        <% end %>
        </tbody>
    </table>

    <%= render "comments/form" %>
</div>





