<!DOCTYPE html>

<html>
<head>
  <title>Home page</title>

</head>

<body>

    <h1>Najnowszy odcinek</h1>
    <div class="home_page"


        <% episode = Episode.last %>
        <object width="640" height="480"><param name="movie" value="//www.youtube.com/v/<%= episode.url[-11..-1] %>?hl=en_US&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/<%= episode.url[-11..-1] %>?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="640" height="480" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </div>

</body>
</html>