.body {
    margin: 0px;

}

.admin-panel {
   margin: 30px;

}

.admin-header {
    text-align: center;
}

.admin-dashboard-block {
    margin: 10px;
    width: 300px;
    display: inline-block;

}

.admin-dashboard-block-comments {

    position: absolute;
    left:700px;
    top:190px;
    width: 300px;
    display: inline-block;

}



