#nav, #nav ul{
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    position:relative;
    line-height:1.5em;
    top: 40px;
    left: 10px;
   }

#nav a:link, #nav a:active, #nav a:visited{
    display:block;
    padding:0px 5px;
    border:1px solid #4B4B4B;
    color:#fff;
    text-decoration:none;
    background-color: #DC0078;
}

#nav a:hover{
    background-color:#fff;
    color:#4B4B4B;
}

#nav li{
    float:left;
    position:relative;
}

#nav ul {
    position:absolute;
    width:12em;
    top:1.5em;
    display:none;
}

#nav li ul a{
    width:12em;
    float:left;
}

#nav ul ul{
    top:auto;
}

#nav li ul ul {
    left:12em;
    margin:0px 0 0 10px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
}


#login_panel {
    position: absolute;
    right:50px;
    top:10px;

    height: 70px;
    background-color: white;
    color: white;


}

#login_panel_list {
    list-style: none;
    display: inline-block;
}

.home_page {
   margin-top: 50px;
   margin-left: 100px;
}