<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "DlaNiejTv" %></title>


    <link rel="stylesheet" type="text/css" href="nav.css">


    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>


<% programs = Program.all %>
<% episodes = Episode.all %>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand"  href="http://www.dlaniej.tv"><%= image_tag 'dlaniejlogo.jpg' %></a>




          <ul id="nav">
            <li><%= link_to "Strona główna",home_index_path %></li>
            <li>
              <%= link_to "Programy",programs_path %>
              <ul>
                <% programs.each do |p|  %>
                   <li><%= link_to p.name,program_episodes_path(p) %>
                      <ul>
                        <% p.episodes.find_each do |e|  %>
                        <li><%= link_to e.title,episode_path(e)%></li>
                        <% end %>
                      </ul>
                    </li>
                <% end %>
              </ul>
            </li>
            <li>
              <%= link_to "Wszystkie odcinki",episodes_path %>
              <ul>
                <% episodes.each do |i|  %>
                    <li><%= link_to i.title,episode_path(i)%></li>
                <% end %>
              </ul>
            </li>

            <li><%= link_to "O nas","./o-nas" %></li>
            <li><%= link_to "Reklama","./reklama" %></a></li>
            <li><%= link_to "Kontakt","./kontakt" %></li>
          </ul>


          <div id="login_panel">
            <%= link_to "User sign in", "../users/sign_in", class: "btn btn-success btn-xs "%>
            <% if current_admin %>
                <%= link_to "Admin panel", "./admin", class: "btn btn-primary btn-xs " %>
            <% end %>
            <ul id="login_panel_list">


              <li><%= link_to "User sign up","../users/sign_up" %></li>
              <li><%= link_to "Admin sign in","../admins/sign_in" %></li>

              <% if current_admin %>
                  <li><%= link_to "Admin log out",  destroy_admin_session_path, :method => :delete %></li>
              <% end %>

              <% if current_user %>
                  <li><%= link_to "User log out",  destroy_user_session_path, :method => :delete %></li>
              <% end %>

            </ul>
          </div>



          <div class="container-fluid nav-collapse">
            <ul class="nav">

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <%= bootstrap_flash %>
    <%= yield %>

    <script src="./nav.js"></script>

  </body>
</html>
